/* Fonts */
$fontfamily:        "Century Gothic", CenturyGothic, AppleGothic, "Muli", sans-serif;
$mainfont:      	"Century Gothic", CenturyGothic, AppleGothic, "Muli", sans-serif;
$subfont:           "Century Gothic", CenturyGothic, AppleGothic, "Muli", sans-serif;
$normal:        	400;
$semibold: 			600;
$bold:		      	700;

/* Colors */
$primarycolor: 		#252525;
$secondarycolor:	#3f483c;
$linkcolor: 		#337ab7;
$green:             #3f483c;

/* Base Color */
$white:				#ffffff;
$black: 			#000000;
$matteblack: 		#252525;
$gold: 				#B7A66D;

/* Font Size */
$xtralarge: 		30px;
$large: 			24px;
$medium: 			20px;
$regular:			16px;
$base: 				14px;
$small:				12px;
$xtrasmall:			10px;

/* spacing */
$spacing:			20px;